# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
.env

# ===== Java =====
*.class
*.jar
*.war
*.ear
target/
out/

# ===== OS / Editor junk =====
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
build/
*.o
*.elf
*.iso

# === Removed for possible copyright issues. Placed for functionality testing. ===
badapple.bin
doom.wad
